header{
    display: flex;
    justify-content: end;
    padding: 10px 10px 5px;
    position: relative ;
}

header span{
    flex: 10px;
    background: #28b8db;
    border-radius: 1px;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-bottom: 1px;
    top: 20px;
    right: 20px;
}